:root{
    --nice-yellow: rgb(241, 228, 111);
}
.weather-cont{
    display: grid;
    position: relative;
    background-color: rgb(37, 37, 37);

    width: 80vw;
    max-width: 80vh;
    height: 53vh;
    left: 50%;
    top:50%;
    padding: 20px;
    transform: translate(-50%, 50%);
    grid-template-rows: calc(100%/8) calc(100%/8) calc(100%/8) calc(100%/8) calc(100%/8) calc(100%/8) calc(100%/8) calc(100%/8);
    grid-template-columns: calc(100%/8) calc(100%/8) calc(100%/8) calc(100%/8) calc(100%/8) calc(100%/8) calc(100%/8) calc(100%/8);
    grid-template-areas: "main-icon main-icon temp temp . . address address"
                         "main-icon main-icon temp temp desc desc address address"   
                         "graph graph graph graph graph graph graph graph"
                         "graph graph graph graph graph graph graph graph"
                         "graph graph graph graph graph graph graph graph"
                         "graph graph graph graph graph graph graph graph"
                         "days days days days days days days days"
                         "days days days days days days days days"
}
.main-icon-cont{
    grid-area: main-icon;
    display: flex;
    justify-content: center;
}
.main-icon{
    max-width: 90%;
    max-height: 90%;
}
.temp-cont{
    display: flex;
    align-items: flex-end;
    grid-area: temp;
}
.temp{
    font-family: Arial, Helvetica, sans-serif;
    font-weight: 100;
    color: rgba(255, 255, 255, 1);
    font-size: 80px;
    margin: 0;
}
.desc-cont{
    display: flex;
    grid-area: desc;
    align-items: center;
}
.desc{
    font-family: Arial, Helvetica, sans-serif;
    font-weight: 100;
    font-size: 13px;
    color: white;
    margin: 0 0 0 -15px;
}
.address-cont{
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-end;
    grid-area: address;
}
.address{
    position: relative;
    right: 20px;;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: 100;
    font-size: 13px;
    color: white;
    margin: 1px 0px 3px 0px;
}

.graph-cont{
    grid-area: graph;
    position: relative;
}
.days-cont{
    display: flex;
    border: 1px solid var(--nice-yellow);
    border-width: 1px 0px 1px 0px;
    grid-area: days;
    justify-content: space-around;
    margin: 0px 20px 0px 20px;

}

.day{

    grid-template-rows: 30% 40% 30%;
    display: grid;
    justify-items: center;
    justify-content: center;
    width: 20%;
    transition: .1s;
}
.day:hover{
    background-color: rgba(241, 228, 111, 0.26);
}
.day > div{
    width: 100%;
}
.day >p{
    align-self: center;
    font-family: Arial, Helvetica, sans-serif;
    color: rgb(255, 255, 255);
    font-weight: 100;
    font-size: 10px;
    margin: 0;
}
.day > div > img{
    position: relative;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    width: 30%;
    margin-left: auto;
    margin-right: auto;
}